<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>History</title>
</head>
<body>
    <nav>
        <a href="/dashboard">Dashboard</a> |
        <a href="/employee">Employees</a> |
        <a href="/devices">Devices</a> |
        <a href="/department">Departments</a> |
        <a href="/history">History</a>|
        <a href="/logout">Logout</a>
    </nav>
    <h2>Audit History</h2>

    <table border="1">
        <thead>
            <tr>
                <th>No</th>
                <th>Action</th>
                <th>Timestamp</th>
                <th>Performed By</th>
                <th>Device</th>
                <th>Employee</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="log, i : ${logs}">
                <td th:text="${i.index + 1}"></td>
                <td th:text="${log.action}"></td>
                <td th:text="${log.timestamp}"></td>
                <td th:text="${log.performedBy}"></td>
                <td th:text="${log.device.serialNumber}"></td>
                <td th:text="${log.employee.name}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
